---

import Layout from '../../layouts/Layout.astro';
import luisDavidPhoto from '../../assets/img/luis-david-photo-anime.jpg';
import Bagde from '../../components/Badge.astro';
import LinkedInIcon from '../../assets/icons/LinkedIn.astro';
import GithubIcon from '../../assets/icons/GitHub.astro';
import MailIcon from '../../assets/icons/Mail.astro';
import CodeIcon from '../../assets/icons/Code.astro';
import SocialPill from '../../components/SocialPill.astro';
import Experience from '../../components/Experience.astro';
import SectionContainer from '../../components/SectionContainer.astro';
import Briefcase from '../../assets/icons/Briefcase.astro';
import Projects from '../../components/Projects.astro';

import { getLangFromUrl } from '../../i18n/utils';
import { indexTexts } from '../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = indexTexts[lang];

---

<Layout 
		lang={lang}
		title={t.metaTitle}
		description={t.metaDescription}
>
  <main class="px-4 w-full">
	<SectionContainer id="top" 
		class={`
		py-20 pb-10 
		flex flex-col items-center justify-center
		md:items-start md:justify-start
		sm:max-w-full `} >

		<h1 class="text-3xl pt-10 md:text-4xl lg:text-5xl font-bold pb-6 lg:pb-10">{t.title}</h1>
		<h2 class="mt-4 w-[350px] md:w-full max-w-[700px] text-xl lg:text-2xl text-white font-bold flex flex-row gap-x-1 md:gap-x-4 pb-5">
			{t.subtitle}
			<a
				href="https://www.linkedin.com/in/ldavidiaz/"
				class="inline-flex items-center px-3 py-1 text-sm font-medium bg-[#00651a] rounded-full"
				aria-label="Available for work"
				rel="noopener noreferrer"
				target="_blank"
			>
				<Bagde>{t.status}</Bagde>
			</a>
		</h2>
		<nav class="flex flex-row flex-wrap gap-4 mb-4 opacity-90">
			<SocialPill href="https://www.linkedin.com/in/ldavidiaz/" class="hover:bg-[#0A66C2]">
				<LinkedInIcon class="size-4 md:size-6" />
				LinkedIn
			</SocialPill>
			<SocialPill href="https://github.com/ldavidiaz" class="hover:bg-black">
				<GithubIcon class="size-4 md:size-6 " />
				GitHub
			</SocialPill>
			<SocialPill href="mailto:ldaviddiaz.dev@gmail.com" class="hover:bg-yellow-500">
				<MailIcon class="size-4 md:size-6" />
				ldaviddiaz.dev@gmail.com
			</SocialPill>
		</nav>
	</SectionContainer>

	<SectionContainer id="experience" class="py-10">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
			<Briefcase class="size-7" />
			{t.titleSectionExperience}
		</h2>
		<Experience lang={lang}/>
	</SectionContainer>

	<SectionContainer id="projects" class="py-10">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
			<CodeIcon class="size-7" />
			{t.titleSectionProjects}
			<span class="text-sm text-gray-400">{t.subtitleSectionProjects}</span>
		</h2>
		<Projects lang={lang}/>
	</SectionContainer>

	<SectionContainer id="about" class="flex flex-col items-center justify-center w-full h-screen text-white">
		<h2 class="text-3xl font-bold">{t.titleSectionAboutMe}</h2>
		<p class="mt-4 text-lg">{t.txtSectionAboutMe1}</p>
		<p class="mt-2 text-lg">{t.txtSectionAboutMe2}</p>
	</SectionContainer>

</main>
</Layout>