---
const { lang } = Astro.props as { lang: 'es' | 'en' };

import { projectsList, uiText } from "../i18n/ui";
import type { Project } from '../i18n/ui.types';
import { TAGS,  type TagKey } from "../assets/TagsList";
import { IMAGES } from "../assets/ImagesList";
// Obtienes los proyectos del idioma actual
const projects = projectsList[lang];

---
{projects?.map((project: Project) => {
  return (
    <div class="w-full flex flex-col gap-4 mb-12">
      <h3 class="text-xl font-semibold text-yellow-300/90">{project.title}</h3>
      <p>{project.description}</p>
      <ul class="w-full md:w-[740px] flex gap-2 flex-row flex-wrap mb-1">
        {project.tags.map((tagKey: TagKey) => {
          const tag = TAGS[tagKey];
          return (
            <li>
              <span class={`flex gap-x-2 rounded-full text-xs font-semibold py-2 px-4 ${tag.class}`}>
                <tag.icon class={tag.size} />
                {tag.name}
              </span>
            </li>
          );
        })}
      </ul>
      <img
        src={IMAGES[project.image]}
        alt={`Screenshot of the project ${project.title}`}
        class="rounded-lg"
        loading="lazy"
      />
      <div class="flex gap-2">
        {project.link && project.link !== '#' && (
          <a href={project.link} class="text-gray-300 hover:underline">{uiText.viewProject[lang]}</a>
        )}
        {project.github && project.github !== '#' && (
          <a href={project.github} class="text-gray-300 hover:underline">{uiText.viewCode[lang]}</a>
        )}
      </div>
    </div>
  );
})}